<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebasedongbanja.dongbanja">

    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.firebasedongbanja.dongbanja.WaitChat"></activity>
        <activity android:name="com.firebasedongbanja.dongbanja.ChatActivity" />
        <activity android:name=".WaitCaht" />
        <activity android:name=".ChatMsg" />
        <activity android:name="com.firebasedongbanja.dongbanja.FindActivity" />
        <activity android:name="com.firebasedongbanja.dongbanja.SubActivity" />
        <activity android:name="com.firebasedongbanja.dongbanja.LoginActivity" />
        <activity android:name="com.firebasedongbanja.dongbanja.ProfileActivity" />
        <activity android:name="com.firebasedongbanja.dongbanja.ProfileReviseActivity" />
        <activity android:name="com.firebasedongbanja.dongbanja.UserInfo" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.firebasedongbanja.dongbanja.SingUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>